.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/**
node_modules/**
webpack.config.js
scripts/**
!dist/**
!node_modules/axios/**
!node_modules/marked/**
!node_modules/highlight.js/lib/**
!node_modules/highlight.js/styles/**
